.v-app
  max-height:300vh
.v-img
  width: 100%
  max-height: 100%
.v-main
  background: primary
#thing
  text-align: center
// .v-app-bar
// .-v-btn-group

.v-text-field
  margin-top: 1.5rem

h1
  margin-bottom: 1rem
  margin-top: 2rem 
  

    
@media (max-width:768px)
  

  #home
    display: flex
    flex-direction: column
    max-height: 100vh
  .v-btn-group
    margin: 10% auto
  
    
@media (min-width:768px)
  #home
    max-height: 100vh
  .v-main
    max-height: 200vh
    
  

