.v-main
  background: secondary
#thing
  margin-bottom: 10vh
  text-align: center
.v-app-bar
  

@media (max-width:768px)
  #home
    display: flex
    flex-direction: row
    min-height: 70vh
  
  
@media (min-width:768px)
  .v-main
    height: 75vh
    
  #home
    min-height: 70vh

